.header-bg{
    background-image: linear-gradient(90deg,#c084fc 10%,#57b684 20%,#f272b5 100%);
}
.border-width{
    border-right: 3px solid #fff;
}
.text-bg{
    background-image:linear-gradient(90deg,#c084fc 10% ,#f272b5 100%) ;
}
.text-bg-2{
    background-image: linear-gradient(90deg,#1b9f51,#9135e7);
}
.text-size{
    font-size: .7rem;
    line-height: 18px;
}
.card-bg{
    background-image: linear-gradient(90deg,#fce7f3, #f3edfd 100%);
    border-radius: 0px 0px 15px 10px;
}
.card{
    transition: 1s;
}
.card :hover{
    transform:scale(1.1);
}
.box{
    background-image: linear-gradient(9odeg,#f4c8fe,#fcc7f4);
    box-shadow: 3px 3px 10px #57d684;
    border-radius: 10px;
    height: 70px;
    width: 100px;
}
.content-bg{
    background-image: linear-gradient(90deg,#fbcfe8, #ead5ff);
}
.text-blue{
    color: rgb(56, 56, 250);
    font-size: .8rem;
    padding: 7px;
}
.btn{
    background-image: linear-gradient(90deg,#c99df5 10%,#f7a5cf 100%);
}
.btn-2{
     background-image: linear-gradient(90deg, rgb(236,236,93),#83e1e5 100%);
     border: none;
     width: 100px;
}
